<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Counter</title>
</head>
<body>
    <h1>Counter</h1>
    <h3><%= counter %> times.</h3>
    <a href="/plus2">Add 2</a>
    <a href="/reset">Reset</a>
</body>
</html>