<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey Form</title>
</head>
<body>
    <form action="/result" method="POST">
        Your Name: <input type="text" name="name">
        Dojo Location: <select name="location">
            <option value="mv">Mountain View</option>
            <option value="sj">San Jose</option>
            <option value="em">Emeryville</option>
        </select>
        Favorite Language: <select name="language">
            <option value="js">JavaScript</option>
            <option value="python">Python</option>
            <option value="swift">Swift</option>
        </select>
        Comment (optional):
        <textarea name="comment" cols="100" rows="30"></textarea>
        <input type="submit" value="submit">
    </form>
</body>
</html>